{% extends 'base.html' %}
{% block title %}Send Email Done{% endblock title %}
{% block overlay %}{% endblock overlay %}
{% block searchbox %}{% endblock searchbox %}
{% block img-header %}{% endblock img-header %}
{% block content %}
<div class="container mx-auto my-auto">
    <div class="row">
        <div class="col-md-12 mx-auto register-box my-5">
            <h5 class="text-center text-capitalize py-3">your password has been updated successully</h5>
        </div>
        <p>Sigin Now <a href="{% url 'account:login' %}">Login</a></p>
    </div>
</div>

{% endblock content %}