{% extends 'base.html' %}
{% block title %}Send Email{% endblock title %}
{% block overlay %}{% endblock overlay %}
{% block searchbox %}{% endblock searchbox %}
{% block content %}
<div class="container mx-auto my-auto">
    <div class="row">
        <div class="col-md-6 mx-auto register-box my-5">
                <h1 class="text-center text-capitalize py-3">Send Password</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Send Email" class=" btn btn-outline-secondary  submit w-100 mb-5">
            </form>
        </div>
    </div>
</div>

{% endblock content %}