{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="container">
  <h3 class="text-center my-3">Our Product</h3>
  <div class="row">
    {% for pro in product %}
    <div class="product-card">
      <div class="badge">Hot</div>
      <div class="product-tumb">
        <img src="{{pro.main_pic.url}}" alt="">
      </div>
      <div class="product-details">
        <span class="product-catagory">{{pro.name|capfirst}}</span>
        <h4><a href="{% url 'store:product_detail' pro.slug %}">{{pro.name|capfirst}}</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
        <div class="product-bottom-details">
          <div class="product-price"><small>${{pro.selling_price}}</small>${{pro.discount_price}}</div>
          <div class="product-links">
            <a href=""><i class="fa fa-heart"></i></a>
            <button id="add-product-basket" value="{{pro.id}}" type="button" class="btn">
              <i class="fa fa-shopping-cart" ></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script language="JavaScript" type="text/javascript">
  $(document).on('click','#add-product-basket',function (e) {
    e.preventDefault();
   
    $.ajax({
      type: "POST",
      url: "{% url 'cart:addtocartindex' %}",
      data: {
        product_id :$('#add-product-basket').val(),
        csrfmiddlewaretoken:"{{csrf_token}}",
        action:'post'
  
      },
      
      success: function (response) {
        console.log(response);
      }
    });
    
  });
</script>


{% endblock content %}