{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Home|category{% endblock title %}
{% block content %}
<div class="container">
  <h3 class="text-center my-3">category Product</h3>
  <div class="row">
    {% for pro in cat_pro %}
    <div class="product-card">
      <div class="badge">Hot</div>
      <div class="product-tumb">
        <img src="{{pro.main_pic.url}}" alt="">
      </div>
      <div class="product-details">
        <span class="product-catagory">{{pro.name|capfirst}}</span>
        <h4><a href="{% url 'store:product_detail' pro.slug %}">{{pro.name|capfirst}}</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
        <div class="product-bottom-details">
          <div class="product-price"><small>${{pro.selling_price}}</small>${{pro.discount_price}}</div>
          <div class="product-links">
            <a href=""><i class="fa fa-heart"></i></a>
            <a href=""><i class="fa fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}